pkgbase = kiro-bin
	pkgdesc = The AI IDE for prototype to production
	pkgver = 0.2.15
	pkgrel = 1
	url = https://kiro.dev/
	arch = x86_64
	license = LicenseRef-AWS-IPL
	depends = alsa-lib
	depends = at-spi2-core
	depends = bash
	depends = cairo
	depends = dbus
	depends = expat
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = libcups
	depends = libdrm
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxkbcommon
	depends = libxkbfile
	depends = libxrandr
	depends = mesa
	depends = nodejs
	depends = nspr
	depends = nss
	depends = pango
	provides = kiro
	conflicts = kiro
	options = !debug
	options = !strip
	source = kiro-202508170530.tar.gz::https://prod.download.desktop.kiro.dev/releases/202508170530--distro-linux-x64-tar-gz/202508170530-distro-linux-x64.tar.gz
	source = kiro.desktop
	source = kiro-url-handler.desktop
	source = kiro-workspace.xml
	b2sums = 7cd45234564f889d26dafaf18f9071219db0f85a53bc65c4b314d1d79523c433a7dd8437ad8a006a2da369712d0c2ec3037b2c75c461b4d88b6a2931e784618b
	b2sums = ab6e96fccff12d2d7c94dda4647f9fc1e6b0728ac7dd45edba14e364516ed4ad34f01bb7cc48e139fb817f57c309b8fa230c62c3b399915cc7341c2af039d309
	b2sums = fd694d647fe06c439026f1a570fba288fb51bf41fe76de60af1e911255e4692b5a3cae1a8c279ed77a4990618b957591b79b6f152728374af97bea1189691014
	b2sums = bf76f34c64e272831da98a3642f827b159582fafb3918db9f7334ed7ed9eace747148d6f0f863d2a5f1e751b7d43f109e35a8ac7ee1985c09d7ea90b73a40455

pkgname = kiro-bin
